
@{
    ViewBag.Title = "Send SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-contentbar">

    <!-- START PAGE CONTENT -->
    <div id="page-right-content">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="header-title m-t-0 m-b-20">Send SMS</h4>
                </div>
            </div> <!-- end row -->
            <div class="row">
                <div class="col-sm-12">

                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal" role="form" method="post" id="smsForm">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">From</label>
                                    <div class="col-md-10">
                                        <input type="text" id="from" name="from" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="to">To</label>
                                    <div class="col-md-10">
                                        <input type="text" id="to" name="to" class="form-control">
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Message</label>
                                    <div class="col-md-10">
                                        <textarea type="text" class="form-control" id="message" name="message" ></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- end col -->
            </div>
        </div>
        <!-- end container -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pull-right hidden-xs">
                            Project Completed <strong class="text-custom">43%</strong>.
                        </div>
                        <div>
                            <strong>Simple Admin</strong> - Copyright &copy; 2017
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end footer -->

    </div>
    <!-- End #page-right-content -->

    <div class="clearfix"></div>

</div>
<!-- end .page-contentbar -->

@section scripts{

    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $(function () {

            $('#smsForm').validate({

                rules: {
                    from: {
                        required: true
                    },
                    to: {
                        
                        required: true
                    },
                    
                    message: {
                        required: true
                    }

                },

                messages: {
                    from: {
                        required: 'please enter the message sender'
                    },
                    to: {
                        required: 'please enter the recipients phone number'
                    }
                }
            });

            $('#smsForm').bind('submit', function (ev) {

                ev.preventDefault(false);

                if (!$(ev.target).valid()) {
                    return;
                }

                var formData = {};
                formData.From = $('#from').val();
                formData.To = $('#to').val();
                formData.Message = $('#message').val();
                
              

                $.ajax({
                    url: '/api/settingsapi/sendsms',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(formData),
                    error: function () {

                        alert('error occurred, try again');
                    },
                    success: function (response) {

                        alert(response);
                    }
                });

            });

        })
    </script>

}
